global
    log stdout format raw local0
    maxconn 1024

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend postgres
    bind :5432
    default_backend primary

backend primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server nexus 100.100.1.3:5434 check port 8008
    server stargate 100.100.1.2:5434 check port 8008

frontend health
    bind 127.0.0.1:8404
    mode http
    monitor-uri /health
    monitor fail if { nbsrv(primary) lt 1 }
