# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Terraform
[*.{tf,tfvars}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# JavaScript/TypeScript
[*.{js,ts,jsx,tsx,json}]
indent_style = space
indent_size = 2

# Go
[*.go]
indent_style = tab

# HTML
[*.html]
indent_style = space
indent_size = 2
