# Generic
.DS_Store
*.log
*.tmp
*.retry

# IDE
* copy*
*copy
.idea/

# Python
.venv/
venv/
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node
node_modules/
.npm/
.eslintcache
*.tsbuildinfo

# Task
.task/

# Sensitive files
*.agekey
*.enc
*.key
*.kubeconfig
*.sops.*
*[cC][lL][aA][uU][dD][eE]*
*[gG][eE][mM][iI][nN][iI]*
.vault*
kubeconfig
talosconfig

# Archive
archive/
