.DS_Store
.private/
.sync-*
.task/
.terraform
.terraform.lock.hcl
.vagrant
.venv/
*.key
*.log
*.pem
*.pub
*.tfvars
*lock.json
*tfstate*
config.xml
ansible/files/experimental
ansible/roles/monitoring/files/kube-prometheus/manifests
ansible/roles/monitoring/files/kube-prometheus/vendor
key.json
kubeconfig
secrets.yaml
Thumbs.db