__pycache__/
.decrypted*
.DS_Store
.env
.envrc
.private/
.sync-*
.task/
.terraform
.terraform.lock.hcl
.vagrant
.venv/
.venv/
.vscode/
.vscode/settings.json
*.agekey
*.ignore
*.key
*.log
*.pem
*.pub
*.tfvars
*copy*
*lock.json
*tfstate*
ansible/files/experimental
ansible/roles/monitoring/files/kube-prometheus/manifests
ansible/roles/monitoring/files/kube-prometheus/vendor
config.xml
key.json
kubeconfig
kubernetes/bootstrap/talos/controlplane.yaml
kubernetes/bootstrap/talos/secrets.yaml
kubernetes/bootstrap/talos/worker.yaml
node_modules/
public/
talosconfig
Thumbs.db