[defaults]
command_warnings            = no
display_skipped_hosts       = no
executable                  = /bin/bash
gathering                   = smart
host_key_checking           = no
interpreter_python          = /usr/bin/python3
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, Vagrantfile, .tf, .tfstate, .backup, .pub, .xml, .md, .vbox, .prl, .log
inventory                   = inv/gotham
remote_user                 = root
retry_files_enabled         = no
roles_path                  = roles
timeout                     = 100

[ssh_connection]
pipelining = yes
ssh_args   = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
