[defaults]
command_warnings            = no
deprecation_warnings        = no
executable                  = /bin/bash
host_key_checking           = no
interpreter_python          = /usr/bin/python3
inventory_ignore_extensions = ~, .backup, .bak, .cfg, .ini, .log, .md, .orig, .prl, .pub, .pyc, .pyo, .retry, .sh, .tf, .tfstate, .vbox, .xml, Vagrantfile
inventory                   = inventory/
remote_tmp                  = /tmp/
remote_user                 = root
retry_files_enabled         = no
roles_path                  = roles
timeout                     = 100

[ssh_connection]
pipelining                  = yes
ssh_args                    = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s