CLOUDFLARED_TUNNEL_TOKEN=''
DOMAIN=''
NEWT_DOCKER_SOCKET=''
NEWT_ID=''
NEWT_PANGOLIN_ENDPOINT=''
NEWT_SECRET=''
NTFY_AUTH_USERS=''
NTFY_WEB_PUSH_PRIVATE_KEY=''
NTFY_WEB_PUSH_PUBLIC_KEY=''
PATCHMON_ADMIN_EMAIL=''
PATCHMON_ADMIN_PASSWORD=''
PATCHMON_AI_ENCRYPTION_KEY=''
PATCHMON_JWT_SECRET=''
PATCHMON_POSTGRES_PASSWORD=''
PATCHMON_REDIS_PASSWORD=''
PATCHMON_ROOT_DOMAIN=''
PATCHMON_SESSION_SECRET=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTH_ONCE=''
TAILSCALE_TS_EXTRA_ARGS=''
TAILSCALE_TS_ROUTES=''
TAILSCALE_TS_SOCKET=''
TAILSCALE_TS_STATE_DIR=''
TAILSCALE_TS_USERSPACE=''
TECHNITIUM_ADMIN_PASSWORD=''
