CLOUDFLARED_TUNNEL_TOKEN=''
AUTHELIA_DOMAIN=''
AUTHELIA_JWT_SECRET=''
AUTHELIA_SESSION_SECRET=''
AUTHELIA_STORAGE_ENCRYPTION_KEY=''
AUTHELIA_X_AUTHELIA_CONFIG_FILTERS=''
DOMAIN=''
COMPOSE_PROFILES=''
GO_CHECK_URL=''
GO_CHECK_LOG_LEVEL='info'
GLUETUN_WIREGUARD_PRIVATE_KEY=''
HAWSER_TOKEN=''
NTFY_AUTH_USERS=''
NTFY_WEB_PUSH_PRIVATE_KEY=''
NTFY_WEB_PUSH_PUBLIC_KEY=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTH_ONCE=''
TAILSCALE_TS_EXTRA_ARGS=''
TAILSCALE_TS_ROUTES=''
TAILSCALE_TS_SOCKET=''
TAILSCALE_TS_STATE_DIR=''
TAILSCALE_TS_USERSPACE=''
TECHNITIUM_ADMIN_PASSWORD=''

# Technis OS agent identity

# Netdata Cloud
NETDATA_HOSTNAME=stargate
NETDATA_CLAIM_TOKEN=
NETDATA_CLAIM_ROOMS=
