---
- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"

- name: Set locale
  community.general.locale_gen:
    name: "{{ locale }}"
    state: present

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts with hostname
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ^127\.0\.1\.1
    line: 127.0.1.1 {{ inventory_hostname }}.{{ domain }} {{ inventory_hostname }}

- name: Add all Proxmox nodes to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ^{{ hostvars[item].ansible_host }}
    line: "{{ hostvars[item].ansible_host }} {{ item }}.{{ domain }} {{ item }}"
  loop: "{{ groups['proxmox'] }}"
