AZURACAST_MYSQL_PASSWORD=''
AZURACAST_ROOT_DOMAIN=''
AZURACAST_SFTP_PORT=''
AZURACAST_STATION_PORT_MAX=''
AZURACAST_STATION_PORT_MIN=''
CLOUDFLARED_TUNNEL_TOKEN=''
CLOUDFLARE_2_TUNNEL_TOKEN=''
DOCMOST_APP_SECRET=''
DOCMOST_POSTGRES_PASSWORD=''
DOCMOST_ROOT_DOMAIN=''
DOMAIN=''
GARAGE_ADMIN_TOKEN=''
GARAGE_METRICS_TOKEN=''
GARAGE_RPC_SECRET=''
GARAGE_S3_ROOT_DOMAIN=''
GARAGE_UI_ROOT_DOMAIN=''
GARAGE_WEB_ROOT_DOMAIN=''
GATUS_AUTH_TOKEN=''
GATUS_DISPLAY_NAME=''
GATUS_HOSTNAME=''
GATUS_ICON_COLOR=''
GATUS_TELEGRAM_BOT_TOKEN=''
GATUS_URL=''
INTERNAL_IP=''
JOURNIV_DISABLE_SIGNUP=''
JOURNIV_POSTGRES_PASSWORD=''
JOURNIV_ROOT_DOMAIN=''
JOURNIV_SECRET_KEY=''
JOURNIV_VERSION=''
MARIADB_ROOT_PASSWORD=''
MEALIE_ALLOW_PASSWORD_LOGIN=''
MEALIE_OIDC_AUTH_ENABLED=''
MEALIE_OIDC_AUTO_REDIRECT=''
MEALIE_OIDC_CLIENT_ID=''
MEALIE_OIDC_CLIENT_SECRET=''
MEALIE_OIDC_CONFIGURATION_URL=''
MEALIE_OIDC_PROVIDER_NAME=''
MEALIE_OIDC_REQUIRES_EMAIL_VERIFICATION=''
MEALIE_OIDC_SIGNUP_ENABLED=''
MEALIE_ROOT_DOMAIN=''
NEWT_DOCKER_SOCKET=''
NEWT_ID=''
NEWT_PANGOLIN_ENDPOINT=''
NEWT_SECRET=''
NORISH_MASTER_KEY=''
NORISH_POSTGRES_PASSWORD=''
NORISH_ROOT_DOMAIN=''
NORISH_VERSION=''
PROFILARR_AUTH=''
PROFILARR_ROOT_DOMAIN=''
PUTER_JWT_SECRET='' # gitleaks:allow
PUTER_JWT_SECRET_V2=''
PUTER_MARIADB_PASSWORD=''
PUTER_ROOT_DOMAIN=''
PUTER_S3_ACCESS_KEY=''
PUTER_S3_SECRET_KEY=''
PUTER_URL_SIGNATURE_SECRET=''
RUSTFS_ROOT_ACCESS_KEY=''
RUSTFS_ROOT_SECRET_KEY=''
SECONDARY_DOMAIN=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTHKEY=''
TAILSCALE_TS_EXTRA_ARGS=''
TECHNITIUM_ADMIN_PASSWORD=''
TECHNITIUM_API_TOKEN=''
TELEGRAM_P1_CHAT_ID=''
TELEGRAM_P2_CHAT_ID=''
TELEGRAM_P3_CHAT_ID=''
TELEGRAM_TEST_CHAT_ID=''
