GARAGE_ADMIN_TOKEN=''
GARAGE_METRICS_TOKEN=''
GARAGE_RPC_SECRET=''
GARAGE_S3_ROOT_DOMAIN=''
GARAGE_UI_ROOT_DOMAIN=''
GARAGE_WEB_ROOT_DOMAIN=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTHKEY=''
TAILSCALE_TS_EXTRA_ARGS=''
