AUTHELIA_DOMAIN=''
AUTHELIA_IMMICH_CLIENT_SECRET_HASH=''
AUTHELIA_JWT_SECRET=''
AUTHELIA_SESSION_SECRET=''
AUTHELIA_STORAGE_ENCRYPTION_KEY=''
AUTHELIA_USER_ADMIN_PASSWORD_HASH=''
AUTHELIA_X_AUTHELIA_CONFIG_FILTERS=''
BAZARR_API_KEY=''
BESZEL_AGENT_HUB_URL=''
BESZEL_AGENT_KEY=''
BESZEL_AGENT_LISTEN=''
BESZEL_AGENT_TOKEN=''
BESZEL_HUB_URL=''
BESZEL_KEY=''
BESZEL_LISTEN=''
BESZEL_TOKEN=''
CF_DNS_API_TOKEN=''
CLOUDFLARED_TOKEN=''
CLOUDFLARED_TUNNEL_TOKEN=''
CROWDSEC_BOUNCER_KEY_TRAEFIK=''
CROWDSEC_COLLECTIONS=''
CROWDSEC_DISABLE_ONLINE_API=''
CROWDSEC_FULL_REFRESH_INTERVAL=''
CROWDSEC_IDLE_REFRESH_INTERVAL=''
CROWDSEC_IDLE_THRESHOLD=''
CROWDSEC_PASSWORD=''
CROWDSEC_REFRESH_INTERVAL=''
CROWDSEC_URL=''
CROWDSEC_USER=''
CROWDSEC_USE_APPSEC=''
DDNS_CLOUDFLARE_API_TOKEN=''
DDNS_DOMAIN=''
DDNS_DOMAINS=''
DDNS_IP6_PROVIDER=''
DDNS_PROXIED=''
DISCORD_WEBHOOK_URL=''
DISPATCHARR_CELERY_BROKER_URL=''
DISPATCHARR_ENV=''
DISPATCHARR_LOG_LEVEL=''
DISPATCHARR_REDIS_HOST=''
DOCKER_SOCKET_PROXY_CONTAINERS=''
DOCKER_SOCKET_PROXY_EVENTS=''
DOCKER_SOCKET_PROXY_EXEC=''
DOCKER_SOCKET_PROXY_IMAGES=''
DOCKER_SOCKET_PROXY_INFO=''
DOCKER_SOCKET_PROXY_LOG_LEVEL=''
DOCKER_SOCKET_PROXY_NETWORKS=''
DOCKER_SOCKET_PROXY_PING=''
DOCKER_SOCKET_PROXY_POST=''
DOCKER_SOCKET_PROXY_SERVICES=''
DOCKER_SOCKET_PROXY_TASKS=''
DOCKER_SOCKET_PROXY_VERSION=''
DOCKER_SOCKET_PROXY_VOLUMES=''
DOCKPEEK_PASSWORD=''
DOCKPEEK_SECRET_KEY=''
DOCKPEEK_TRAEFIK_LABELS=''
DOCKPEEK_USERNAME=''
DOMAIN_LOCKER_DL_PG_HOST=''
DOMAIN_LOCKER_DL_PG_NAME=''
DOMAIN_LOCKER_DL_PG_PASSWORD=''
DOMAIN_LOCKER_DL_PG_PORT=''
DOMAIN_LOCKER_DL_PG_USER=''
DOZZLE_DOCKER_HOST=''
DOZZLE_LEVEL=''
DUPLICATI_SETTINGS_ENCRYPTION_KEY=''
DUPLICATI__WEBSERVICE_PASSWORD=''
EXTERNAL_IP=''
FILEBROWSER_FB_NOAUTH=''
FLARESOLVERR_CAPTCHA_SOLVER=''
FLARESOLVERR_LOG_HTML=''
FLARESOLVERR_LOG_LEVEL=''
GATUS_AUTH_TOKEN=__REQUIRED__
GLANCES_OPT=''
GLUETUN_API_KEY=''
GLUETUN_FIREWALL_INPUT_PORTS=''
GLUETUN_HTTPPROXY_STEALTH=''
GLUETUN_HTTP_CONTROL_SERVER_LOG=''
GLUETUN_PUBLICIP_FILE=''
GLUETUN_VPN_SERVICE_PROVIDER=''
GLUETUN_VPN_TYPE=''
GLUETUN_WIREGUARD_ADDRESSES=''
GLUETUN_WIREGUARD_ENDPOINT_IP=''
GLUETUN_WIREGUARD_ENDPOINT_PORT=''
GLUETUN_WIREGUARD_PRIVATE_KEY=''
GLUETUN_WIREGUARD_PUBLIC_KEY=''
GOACCESS_HTML_REFRESH=''
GOACCESS_KEEP_LAST=''
GOACCESS_LOG_TYPE=''
GOACCESS_PROCESSING_THREADS=''
GOKU_CONFIG=''
GOKU_WEB_PORT=''
GRAFANA_GF_INSTALL_PLUGINS=''
GRAFANA_GF_SECURITY_ADMIN_PASSWORD=''
GRAFANA_GF_SECURITY_ADMIN_USER=''
GRAFANA_GF_SERVER_ROOT_URL=''
HOMARR_SECRET_ENCRYPTION_KEY=''
HOMEPAGE_ALLOWED_HOSTS=''
IMDBARR_BASE_URL=''
IMDBARR_PORT=''
IMDBARR_TMDB_API_KEY=''
IMMICH_DB_DATABASE_NAME=''
IMMICH_DB_HOSTNAME=''
IMMICH_DB_PASSWORD=''
IMMICH_DB_USERNAME=''
IMMICH_MACHINE_LEARNING_URL=''
IMMICH_ML_DB_DATABASE_NAME=''
IMMICH_ML_DB_HOSTNAME=''
IMMICH_ML_DB_PASSWORD=''
IMMICH_ML_DB_USERNAME=''
IMMICH_ML_REDIS_HOSTNAME=''
IMMICH_REDIS_HOSTNAME=''
JELLYFIN_PUBLISHEDSERVERURL=''
KROMGO_PROMETHEUS_URL=''
LINKWARDEN_NEXTAUTH_SECRET=''
LINKWARDEN_NEXT_PUBLIC_DISABLE_REGISTRATION=''
LINKWARDEN_ROOT_DOMAIN=''
LOGGIFLY_APPRISE_URL=''
LOGGIFLY_DOCKER_HOST=''
MARIADB_MYSQL_DATABASE=''
MARIADB_MYSQL_PASSWORD=''
MARIADB_MYSQL_ROOT_PASSWORD=''
MARIADB_MYSQL_USER=''
MEILISEARCH_MEILI_ENV=''
MEILISEARCH_MEILI_MASTER_KEY=''
MEILISEARCH_MEILI_NO_ANALYTICS=''
MINIFLUX_ADMIN_PASSWORD=''
MINIFLUX_ADMIN_USERNAME=''
MINIFLUX_CREATE_ADMIN=''
MINIFLUX_DATABASE_URL=''
MINIFLUX_RUN_MIGRATIONS=''
MUSIC_ASSISTANT_LOG_LEVEL=''
NAVIDROME_ND_BASEURL=''
NAVIDROME_ND_LOGLEVEL=''
NAVIDROME_ND_SCANSCHEDULE=''
NAVIDROME_ND_SESSIONTIMEOUT=''
NEWT_DOCKER_SOCKET=''
NEWT_ID=''
NEWT_PANGOLIN_ENDPOINT=''
NEWT_SECRET=''
NEXTCLOUD_ADMIN_PASSWORD=''
NEXTCLOUD_ADMIN_USER=''
NEXTCLOUD_POSTGRES_DB=''
NEXTCLOUD_POSTGRES_HOST=''
NEXTCLOUD_POSTGRES_PASSWORD=''
NEXTCLOUD_POSTGRES_USER=''
NEXTCLOUD_ROOT_DOMAIN=''
NEXTCLOUD_TRUSTED_DOMAINS=''
NTFY_BASE_URL=''
NTFY_BEHIND_PROXY=''
PANGOLIN_DOCKER_SUBNET=''
PANGOLIN_GERBIL_BASE_ENDPOINT=''
PANGOLIN_GERBIL_CONTAINER_NAME=''
PANGOLIN_SERVER_SECRET=''
PAPERLESS_ADMIN_PASSWORD=''
PAPERLESS_ADMIN_USER=''
PAPERLESS_DBHOST=''
PAPERLESS_DBNAME=''
PAPERLESS_DBPASS=''
PAPERLESS_DBUSER=''
PAPERLESS_OCR_LANGUAGE=''
PAPERLESS_REDIS=''
PAPERLESS_SECRET_KEY=''
PAPERLESS_TIKA_ENABLED=''
PAPERLESS_TIKA_ENDPOINT=''
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=''
PAPERLESS_TIME_ZONE=''
PAPERLESS_URL=''
PAPERLESS_USERMAP_GID=''
PAPERLESS_USERMAP_UID=''
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=''
PGADMIN_CONFIG_SERVER_MODE=''
PGADMIN_DEFAULT_EMAIL=''
PGADMIN_DEFAULT_PASSWORD=''
PGID=''
PLEX_ADVERTISE_IP=''
PLEX_EXPORTER_PLEX_SERVER=''
PLEX_EXPORTER_PLEX_TOKEN=__REQUIRED__
PLEX_UMASK_SET=''
PLEX_VERSION=''
POSTGRES_DB=''
POSTGRES_PASSWORD=''
POSTGRES_PGDATA=''
POSTGRES_USER=''
PROFILARR_API_KEY=''
PROWLARR_API_KEY=''
PUID=''
PULSE_AUTH_PASS=''
PULSE_AUTH_USER=''
QBITTORRENT_WEBUI_PORT=''
RADARR_API_KEY=__REQUIRED__
SABNZBD_API_KEY=''
STRINGER_DATABASE_URL=''
STRINGER_ENCRYPTION_DETERMINISTIC_KEY=''
STRINGER_ENCRYPTION_KEY_DERIVATION_SALT=''
STRINGER_ENCRYPTION_PRIMARY_KEY=''
STRINGER_SECRET_KEY_BASE=''
SYNCTHING_GOGC=''
TAILSCALE_TS_ROUTES=''
TAILSCALE_TS_SOCKET=''
TAILSCALE_TS_STATE_DIR=''
TAILSCALE_TS_USERSPACE=''
TDARR_FFMPEGVERSION=''
TDARR_INCONTAINER=''
TDARR_INTERNALNODE=''
TDARR_NODENAME=''
TDARR_SERVERIP=''
TDARR_SERVERPORT=''
TDARR_UMASK_SET=''
TDARR_WEBUIPORT=''
TRACEARR_LOG_LEVEL=''
TRAEFIK_ACME_EMAIL=''
TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=''
TRAEFIK_CF_DNS_API_TOKEN=''
TRAEFIK_CLOUDFLARE_DNS_API_TOKEN=''
TRAEFIK_CLOUDFLARE_EMAIL=''
TRAEFIK_CROWDSEC_BOUNCER_KEY=''
TRAEFIK_DOMAIN=''
TRAEFIK_EXTERNAL_IP=''
TRALA_LOG_LEVEL=''
TRALA_REFRESH_INTERVAL_SECONDS=''
TRALA_SEARCH_ENGINE_URL=''
TRALA_TRAEFIK_API_HOST=''
TZ=''
UNPACKERR_UN_RADARR_0_API_KEY=''
UNPACKERR_UN_RADARR_0_URL=''
UNPACKERR_UN_SONARR_0_API_KEY=''
UNPACKERR_UN_SONARR_0_URL=''
WATCHTOWER_IMDB_WATCHLISTS=''
WATCHTOWER_PLEX_CLIENT_ID=''
WATCHTOWER_PLEX_SERVER_URL=''
WATCHTOWER_PLEX_TOKEN=''
WATCHTOWER_PORT=''
WATCHTOWER_SESSION_SECRET=''
WATCHTOWER_TMDB_API_KEY=''
WATCHTOWER_TRAKT_CLIENT_ID=''
WATCHTOWER_TRAKT_CLIENT_SECRET=''
WATCHTOWER_TRAKT_USERNAME=''
