{
  "CN": "{{ cert_common_name | default(cert_id) }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ cert_country | default('US') }}",
      "L": "{{ cert_locality | default('New York') }}",
      "O": "{{ cert_organization | default('Technis') }}",
      "OU": "{{ cert_organizational_unit | default('Kubernetes') }}",
      "ST": "{{ cert_state | default('New York') }}"
    }
  ]
}