apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: {{ ingress_controller_namespace }}
  labels:
    app: traefik
spec:
  ports:
  - name: web
    port: 80
    protocol: TCP
  - name: websecure
    port: 443
    protocol: TCP
  - name: traefik
    port: 9000
    protocol: TCP
  selector:
    app: traefik
{% if ingress_loadbalancer_ip is defined %}
  loadBalancerIP: {{ ingress_loadbalancer_ip }}
  type: LoadBalancer
{% endif %}