apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
etcd:
{% if cluster_etcd_mode == 'external' %}
  external:
    endpoints:
{% for i in groups['etcd'] %}
    - https://{{ hostvars[i]['ansible_' + (default_interface | default('eth0'))]['ipv4']['address'] }}:2379
{% endfor %}
    caFile: "/etc/kubernetes/pki/etcd-ca.pem"
    certFile: "/etc/kubernetes/pki/apiserver-etcd-client.pem"
    keyFile: "/etc/kubernetes/pki/apiserver-etcd-client-key.pem"
{% else %}
  local:
{% if cluster_sans | length > 0 %}
    serverCertSANs:
{% for san in cluster_sans %}
    - {{ san }}
{% endfor%}
{% for san in cluster_extra_sans %}
    - {{ san }}
{% endfor%}
{% endif %}
    dataDir: /var/lib/etcd
{% endif %}
networking:
  dnsDomain: cluster.local
{%  if cluster_service_subnet | ipaddr %}
  serviceSubnet: {{ cluster_service_subnet }}
{% endif %}
{%  if cluster_pod_subnet | ipaddr %}
  podSubnet: {{ cluster_pod_subnet }}
{% endif %}
{% if k8s_version is defined %}
kubernetesVersion: {{ k8s_version }}
{% endif %}
clusterName: {{ cluster_name }}
certificatesDir: /etc/kubernetes/pki
controlPlaneEndpoint: {{ control_plane_endpoint }}
apiServer:
{% if cluster_sans | length > 0 %}
  certSANs:
{% for san in cluster_sans %}
  - {{ san }}
{% endfor%}
{% for extra_san in cluster_extra_sans %}
  - {{ extra_san }}
{% endfor%}
{% endif %}
  timeoutForControlPlane: "4m0s"
imageRepository: {{ cluster_image_repository }}
controllerManager: {}
dns: {}
scheduler: {}