CLOUDFLARED_TUNNEL_TOKEN=''
COMPOSE_PROFILES=''
DOMAIN=''
GO_CHECK_URL=''
GO_CHECK_LOG_LEVEL='info'
GLUETUN_WIREGUARD_PRIVATE_KEY=''
HAWSER_TOKEN=''
HOME_WAN_IP=''
INTERNAL_IP=''
SECONDARY_DOMAIN=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTHKEY=''
TAILSCALE_TS_EXTRA_ARGS=''
TECHNITIUM_ADMIN_PASSWORD=''
TELEGRAM_P1_CHAT_ID=''
TELEGRAM_P2_CHAT_ID=''
TELEGRAM_P3_CHAT_ID=''
TELEGRAM_TEST_CHAT_ID=''

# Netdata Cloud
NETDATA_HOSTNAME=mothership
NETDATA_CLAIM_TOKEN=
NETDATA_CLAIM_ROOMS=
