BESZEL_LISTEN=''
CLOUDFLARED_TUNNEL_TOKEN=''
CLOUDFLARE_SECONDARY_TUNNEL_TOKEN=''
DOMAIN=''
GATUS_AUTH_TOKEN=''
GATUS_DISPLAY_NAME=''
GATUS_HOSTNAME=''
GATUS_ICON_COLOR=''
GATUS_TELEGRAM_BOT_TOKEN=''
GATUS_URL=''
HOME_WAN_IP=''
INTERNAL_IP=''
NEWT_DOCKER_SOCKET=''
NEWT_ID=''
NEWT_PANGOLIN_ENDPOINT=''
NEWT_SECRET=''
SEARXNG_BASE_URL=''
SEARXNG_INSTANCE_NAME=''
SEARXNG_SECRET=''
SECONDARY_DOMAIN=''
SECONDARY_GATUS_CF_ACCESS_CLIENT_ID=''
SECONDARY_GATUS_CF_ACCESS_CLIENT_SECRET=''
SECONDARY_GATUS_TUNNEL_ORIGIN=''
STACK_DATA_ROOT=''
TAILSCALE_HOSTNAME=''
TAILSCALE_TS_AUTHKEY=''
TAILSCALE_TS_EXTRA_ARGS=''
TECHNITIUM_ADMIN_PASSWORD=''
TELEGRAM_P1_CHAT_ID=''
TELEGRAM_P2_CHAT_ID=''
TELEGRAM_P3_CHAT_ID=''
TELEGRAM_TEST_CHAT_ID=''
