{
  "CN": "{{ cert_common_name | default(cert_id) }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ cert_country }}",
      "L": "{{ cert_locality }}",
      "O": "{{ cert_organization }}",
      "OU": "{{ cert_organizational_unit }}",
      "ST": "{{ cert_state }}"
    }
  ]
}