apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    deployment:
      kind: DaemonSet
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
    ports:
      web:
        redirectTo: websecure
    service:
      enabled: true
      type: LoadBalancer
      spec:
        loadBalancerIP: "{{ ingress_endpoint | default('192.168.1.200') }}"