#cloud-config
ssh_pwauth: 1
users:
  - name: root
    lock-passwd: false
    passwd: $1$SaltSalt$KTHXYQ6iEyJsUoQrv08vz1
    ssh_authorized_keys:
      - ${file('technis.pub')}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
packages:
  - ansible
  - curl
