---
- name: Install keepalived
  ansible.builtin.package:
    name: keepalived
    state: present

- name: Configure keepalived
  ansible.builtin.template:
    dest: /etc/keepalived/keepalived.conf
    group: root
    mode: "0644"
    owner: root
    src: keepalived.conf.j2
  notify: Restart keepalived

- name: Start and enable keepalived service
  ansible.builtin.service:
    name: keepalived
    enabled: true
    state: started
