kind: ConfigMap
apiVersion: v1
metadata:
  name: config
  namespace: metallb-system
data:
  config: |
{% if metallb_mode == 'bgp' %}
    peers:
    - my-asn: {{ metallb_bgp_asn }}
      peer-asn: {{ metallb_bgp_peer_asn }}
      peer-address: {{ metallb_bgp_peer_address }}
    address-pools:
    - name: default
      protocol: bgp
      addresses:
      - {{ metallb_bgp_addresses }}
{% else %}
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{ metallb_layer2_addresses }}
{% endif %}